<div class="container">
  <h1>{{ stock.companyName }} ({{ stock.symbol }}) ${{ stock.latestPrice }}</h1>
  <ul class="list-group">
  <li class="list-group-item"><strong>Open:</strong> ${{ stock.open }}</li>
  <li class="list-group-item"><strong>High:</strong> ${{ stock.high }}</li>
  <li class="list-group-item"><strong>Low:</strong> ${{ stock.low }}</li>
  <li class="list-group-item"><strong>Close:</strong> ${{ stock.close }}</li>
  <li class="list-group-item"><strong>Change Percent:</strong> {{ stock.changePercent }}%</li>
  <li class="list-group-item"><strong>Volume:</strong> {{ stock.volume }}</li>
  <li class="list-group-item"><strong>Market Cap:</strong> ${{ stock.marketCap }}</li>
  <li class="list-group-item"><strong>YTD Change:</strong> {{ stock.ytdChange }}%</li>
  <li class="list-group-item"><strong>PE Ratio:</strong> {{ stock.peRatio }}%</li>
  <li class="list-group-item">  <strong>52 Week High</strong> ${{ stock.week52High }}</li>
  <li class="list-group-item">  <strong>52 Week Low</strong> {{ stock.week52Low }}</li>
</ul>

</div>


<!-- {{#each stock}}
  {{@key}} | {{this}}</br>
{{/each}} -->
